/* latin-ext */
@font-face {
  font-family: "PP Woodland";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("PP Woodland Bold"), local("PP Woodland Bold"),
    url("fonts/PPWoodland-Bold.woff2") format("woff2");
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Arial",
    sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: var(--font-size);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  color: var(--color-primary);
  font-weight: 600;
  font-family: "PP Woodland", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Arial", sans-serif;
}
